.monaco-fade-in-text {
  animation: fadeInEffect 0.2s ease-out forwards;
  opacity: 0;
}

.monaco-hidden-text {
  opacity: 0 !important;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
    filter: blur(2px);
    color: #007acc;
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}