name: Trigger Download Release

on:
  workflow_dispatch:

jobs:
  trigger-download-release:
    runs-on: ubuntu-latest
    steps:
      - name: Get latest release info
        run: |
          # Get the latest release tag using GitHub API
          LATEST_TAG=$(curl -s \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${{ github.repository }}/releases/latest | jq -r '.tag_name')
          
          echo "The latest release version is: $LATEST_TAG"